<div class="quiz-container">
    <div class="quiz-card">

        <ng-container *ngIf="!isQuizFinished && currentQuestion">

            <div class="quiz-header">
                <p class="progress-text">Domanda {{ currentQuestionIndex + 1 }} di {{ questions.length }}</p>
                <div class="progress-bar-container">
                    <div class="progress-bar" [style.width.%]="(currentQuestionIndex + 1) / questions.length * 100">
                    </div>
                </div>
                <h2 class="theme">{{ currentQuestion.theme }}</h2>
                <p class="scenario">{{ currentQuestion.scenario }}</p>
            </div>

            <div class="quiz-main-content">
                <div class="question-body">
                    <h3>{{ currentQuestion.question }}</h3>
                </div>

                <div class="answers-container">
                    <button *ngFor="let answer of currentQuestion.answers" class="answer-button"
                        [class.selected]="answer.id === selectedAnswerId" (click)="selectAnswer(answer.id)">
                        {{ answer.text }}
                    </button>
                </div>
            </div>

            <div class="quiz-footer">
                <button class="submit-button" [disabled]="!selectedAnswerId" (click)="submitAnswer()">
                    AVANTI
                </button>
            </div>

        </ng-container>

        <div *ngIf="isQuizFinished" class="quiz-finished-container">
            <h2>Analisi Completata!</h2>
            <p>Stiamo calcolando il tuo profilo archetipico.</p>
            <button class="submit-button" [routerLink]="['/results']">SCOPRI IL TUO CAST</button>
        </div>

    </div>
</div>